.outbox{
    border: solid 1px;
    height: 550px;
    background-image: url(bg4.jpg);
    background-repeat: no-repet;
    background-size: 1300px 550px;
}
#nav{
    border: solid 1px white
    height: 50px;
}
#in{
    color:white
    f
}











#cafe{
    color: red;
    font-size: 55px;
    text-align: center;
    padding-top: 100px;
    text-shadow: 3px 3px 5px white ;
}
#menu{
    border: solid 1px;
    height: 200px;
}
#image{
    border-radius: ;
}